<%- include('header.ejs')%>
<main>
    <div class = "content">
        <h4>About Page</h4> 
        <p class='contitle'>This website is used for people to post and make connections with others.</p>
    </div>
</main>
    <%- include('footer.ejs')%>