<%- include('header.ejs')%>
<main>
    <div class = "content">
        <h4><%= error.status%> Error</h4> 
        <p class='contitle'><%= error.message%> </p>
    </div>
</main>
    <%- include('footer.ejs')%>