<%- include('header.ejs')%>
        <main>
            <p class="maininfo">This website contains information regarding pickup sports games in the charlotte area.<br>
                You can sign-up and post a new pickup game or even add a new sport
            </p>
            <p class="maininfo">The sports we have currently are: Basketball, Football, and Soccer</p>
            
        </main>
<%- include('footer.ejs')%>
